/*Created By Felje...*/

html{
  /*touch-action: none;*/
  text-align: center;
}

body {
  background-color:#000;
}

.h1_css{
  color:#fff;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
}
.h{
font-size:75px;
color:#f00;
text-shadow:4px 4px 2px #900;
}
.m{
font-size:75px;
color:#0f0;
text-shadow:4px 4px 2px #090;
}
.s{
font-size:75px;
color:#00f;
text-shadow:4px 4px 2px #009;
}
.g-n{
 font-size:50px;
 color:#fff;
 text-shadow:3px 3px 2px #fff;
}
.d{
  color:#0fe;
  font-size:30px;
}
.felje{
  color:#555;
  font-family:monospace;
}



.ana {
  font-size: 2.75pc;
  font-family: Calibri;
  text-align: center;
  padding: 10% 5%;
}
.main {
  position: relative;
  width: 80%;
  border-radius: 50%;
  border: 15px solid rgb(125,125,125);
  background-color: rgb(225,225,225);
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}
.new {
  position: absolute;
  width:5%;
  height:5%;
  border-radius: 50%;
  background-color: rgb(175,175,175);
  left: 47.5%;
  top: 47.5%;
}
.hour {
  position: absolute;
  height: 30%;
  width: 2%;
  border-radius: 100% 100% 0% 0%;
  background: black;
  left: 49%;
  top: 20%;
  transform-origin:bottom;
}
.minute {
  position: absolute;
  height: 40%;
  width: 2%;
  border-radius: 100% 100% 0% 0%;
  background: black;
  left: 49%;
  top: 10%;
  transform-origin:bottom;
}
.second {
  position: absolute;
  width: 1%;
  height: 55%;
  border-radius: 100% 100% 0% 0%;
  background: red;
  left: 49.5%;
  top: 9%;
  transform-origin: 50% 75%;
}
.t12 {
  position: absolute;
  width: 15%;
  padding-top: 3%;
  font-size: 2.5em;
  font-family: Gemunu Libre, monospace;
  font-weight: 800;
  border-radius: 50%;
  left: 42%;
}
.q {
  position: absolute;
  width: 25%;
  padding-top: 3%;
  font-size: 1em;
  font-family: calibri, sans-serif;
  color: #555555;
  border-radius: 50%;
  left: 37%;
  top: 22%;
}
.t3 {
  position: absolute;
  width: 15%;
  padding-right: 3%;
  font-size: 2.5em;
  font-family: Gemunu Libre, monospace;
  font-weight: 800;
  border-radius: 50%;
  left: 83%;
  top: 45%;
}
.t6 {
  position: absolute;
  width: 15%;
  padding-bottom: 3%;
  font-size: 2.5em;
  font-family: Gemunu Libre, monospace;
  font-weight: 800;
  border-radius: 50%;
  left: 42.5%;
  top: 83%;
}
.t9 {
  position: absolute;
  width: 15%;
  padding-left: 3%;
  font-size: 2.5em;
  font-family: Gemunu Libre, monospace;
  font-weight: 800;
  border-radius: 50%;
  left: 0%;
  top: 45%;

}
